<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ClassifierClient" connectionString ="http://openddr.mobi/data/"/>
    <!--   <add name="ClassifierClient" connectionString ="http://apache.org/dist/devicemap/data/1.0.3/devicedata/"/>
   <add name="ClassifierClient" connectionString ="http://devicemap-vm.apache.org/data/latest/"/>-->
  </connectionStrings>   
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
